body {
  margin: 0;
  direction: rtl;
  position: relative;
}
#root {
  overflow: hidden auto;
}

a {
  text-decoration: none;
  color: unset;
}

a.visited {
  color: unset;
}

.editable:empty:before {
  content: attr(data-placeholder);
}

.editable {
  font-family: IranSansX !important;
}

.uni_m_b_small {
  margin-bottom: 1rem;
}

.Toastify__toast {
  font-family: IranSansX !important;
  direction: rtl;
}

@media screen and (max-width: 460px) {
  .Toastify__toast-container--top-right {
    right: 0 !important;
  }
}
